.search-container {
    text-align: center;
    border: 1px solid black;
    width: 200px;
    margin: 0 auto 10px;
    padding: 5px 0 5px;
}

.search_info {

    text-align: center;
}

.contact_list {
    list-style: none;
}

.contact_item {
    font-size: x-large;
}

.delete_btn {
    margin-left: 20px;
    width: 50px;
    height: 20px;
    background-color: red;
    border-radius: 4px;
    outline: none;
    border: none;
    color: white;
    text-transform: capitalize;
}